@mixin clearfix() {
	&:before,
	&:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}

@mixin bg-cover() {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
@mixin transition-all ($time) {
	-webkit-transition: all $time ease-in-out;
	-moz-transition: all $time ease-in-out;
	-ms-transition: all $time ease-in-out;
	-o-transition: all $time ease-in-out;
	transition: all $time ease-in-out;
}
@mixin centered-block() {
	display: table;
	margin: 0 auto;
	float: none;
}

@mixin radius-equal ($px) {
	-webkit-border-radius: $px;
	border-radius: $px;
}
@mixin radius-top ($px) {
	-webkit-border-radius: $px $px 0 0;
	border-radius: $px $px 0 0;
}
@mixin btn() {
	@include radius-equal(5px);
	font-size: 1.3em;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	color:#fff;
	padding:10px 15px;
	&:hover {
		@include gradient-vert(#2a8bd5 , #097fc9);
		color:darken( #fff, 10% ); 
		-webkit-box-shadow:inset 0 0 10px 0 darken( $text-blue, 10% );
		box-shadow:inset 0 0 10px 0 darken( $text-blue, 20% );
	}
}
@mixin gradient-vert($col1 , $col2) {
	
	background: $col1; /* Old browsers */
	background: -moz-linear-gradient(top,  $col1 0%, $col1 49%, $col2 50%, $col2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$col1), color-stop(49%,$col1), color-stop(50%,$col2), color-stop(100%,$col2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  $col1 0%,$col1 49%,$col2 50%,$col2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  $col1 0%,$col1 49%,$col2 50%,$col2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  $col1 0%,$col1 49%,$col2 50%,$col2 100%); /* IE10+ */
	background: linear-gradient(to bottom,  $col1 0%,$col1 49%,$col2 50%,$col2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$col1', endColorstr='$col2',GradientType=0 ); /* IE6-9 */

}