//global styles
*,
*:before,
*:after {
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;    
	box-sizing: border-box;     
	;   
}
body{ 
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 24px;
	background: $bg-main;
	color:$text-main;
}
.relatvie {
	position: relative;
}
.absolute {
	position: absolute;
}
a {
	color:$text-blue;
	text-decoration: none;
	@include transition-all (0.3s);
	&:hover {
		color:lighten( $text-blue, 10% );
	}
}
.btn {
	@include transition-all (0.3s);
	@include btn();
	@include gradient-vert(#2a8bd5 , #097fc9);
}
.desktop-only ,
img {
	display: none;
}
thead {
	display: none;
}
.mobile-only {
	display: block;
	&.head {
		display: table-cell;
		color: $text-grey;
		font-size: 0.8em;
		padding-bottom: 10px;
	}
}

//global styles



//elements mobile first
header {
	@include clearfix();
	background-color: $bg-grey-dark;
	width: 100%;
	padding:50px 5%;
	text-align: center;	
	position: relative;
	&:after {
		@include radius-top(42px);
		position: absolute;
		content: '';
		width: 64px;
		height: 28px;
		left:50%;
		margin-left: -32px;
		bottom: 0;

		background:url(../img/arrow-down.png) bottom center no-repeat $bg-main;
	}
	h1 {
		color: #fff;
		font-size: 1.9em;
		span {
			display: block;
			margin-top: 10px;
			font-size: 0.7em;
			font-weight: normal;
		}
	}
}
.wrapper{
	width:90%;
	margin:0 5%;
	@include clearfix();
}

.content {
	width: 90%;
	margin: 5%;
	h2 {
		font-weight: lighter;
	}
}

table {
	width: 100%;
	tr {
		border-bottom: 2px solid $border-grey;
	}
	thead {
		tr {
			background: $bg-odd;
			th {
				text-align: left;
				font-weight: bold;
				color: $text-blue;
				font-size: 0.9em;
				padding:0.7em;
			}
		}
	}
	tbody {
		tr {
			background: #fff;
			padding-top: 1em;
			.title {
				color: $text-blue;
			}
			&.spacer {
				background: none;
				td {
					padding:1em;
				}
			}
			td {
				padding: 3em 0.7em 1em 0.7em;
				vertical-align: middle;
				word-break: break-all;
				font-size: 0.7em;
				&:first-child {
					display: none;
				}
				.title {
					.absolute {
						margin-top: -2em;
					}
				}
			}
			
		}
		
	}
} //table

.paginator {
	@include clearfix();
	@include centered-block();
	margin-top: 2em;
	a {
		background: #fff;
		padding: 0.7em 1em;
		font-weight: bold;
		margin: 0 0.5em 0.5em 0.5em;
		display: block;
		float: left;
		&.active {
			background: none;
			color: $text-main;
		}
	}
}
//elements mobile first


/* ==|== media queries ====================================================== */

@media only screen and (min-width: 320px) {

}
@media only screen and (min-width: 480px) { 
	table {
		tbody {
			tr {
				td {
					font-size: 1em;
				}
			}
		}
	}
}
@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1140px) {
	.desktop-only ,
	img {
		display: block;
	}
	thead {
		display: table-header-group;
	}
	.mobile-only {
		display: none!important;
	}

	header {
		background: url(../img/header.jpg) no-repeat center center; 

	}

	table    {
		tbody {
			tr.row {
				&.odd {
					background: $bg-odd;
				}
				&.even {
					background: #fff;
				}
				// &:nth-child(2n + 1) {
				// 	background: $bg-odd;
				// }
				// &:nth-child(2n + 0) {
				// 	background: #fff;
				// }
				td {
					padding:0.7em;
					&:first-child {
						display: table-cell;
						padding: 0;
					}
					&.progress {
						display: table-cell;
						.bar {
							width: 100%;
							height: 1em;
							background: $bg-ddd;
							.fill {
								height: 100%;
								background: $bg-green;
								width:70%;
							}
						}
					}
				}
			}
		}
	}


}
