@charset "IBM866";
/* HTML5 ✰ Boilerplate
 * ==|== normalize ==========================================================
 */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

[hidden] {
  display: none; }

html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0;
  font-size: 13px;
  line-height: 1.231; }

body, button, input, select, textarea {
  font-family: sans-serif;
  color: #222; }

::-moz-selection {
  background: #2a8bd5;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #2a8bd5;
  color: #fff;
  text-shadow: none; }

a {
  color: #00e; }

a:focus {
  outline: thin dotted; }

a:hover, a:active {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

ins {
  background: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold; }

pre, code, kbd, samp {
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: "";
  content: none; }

small {
  font-size: 85%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px; }

dd {
  margin: 0 0 0 40px; }

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

form {
  margin: 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

label {
  cursor: pointer; }

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input {
  line-height: normal;
  *overflow: visible; }

table button, table input {
  *overflow: auto; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

input:invalid, textarea:invalid {
  background-color: #f0dddd; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  vertical-align: top; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 24px;
  background: #f6f5f3;
  color: #383838; }

.relatvie {
  position: relative; }

.absolute {
  position: absolute; }

a {
  color: #097fd7;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  a:hover {
    color: #1d99f6; }

.btn {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 1.3em;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  color: #fff;
  padding: 10px 15px;
  background: #2a8bd5;
  /* Old browsers */
  background: -moz-linear-gradient(top, #2a8bd5 0%, #2a8bd5 49%, #097fc9 50%, #097fc9 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2a8bd5), color-stop(49%, #2a8bd5), color-stop(50%, #097fc9), color-stop(100%, #097fc9));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #2a8bd5 0%, #2a8bd5 49%, #097fc9 50%, #097fc9 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #2a8bd5 0%, #2a8bd5 49%, #097fc9 50%, #097fc9 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #2a8bd5 0%, #2a8bd5 49%, #097fc9 50%, #097fc9 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #2a8bd5 0%, #2a8bd5 49%, #097fc9 50%, #097fc9 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$col1', endColorstr='$col2',GradientType=0 );
  /* IE6-9 */ }
  .btn:hover {
    background: #2a8bd5;
    /* Old browsers */
    background: -moz-linear-gradient(top, #2a8bd5 0%, #2a8bd5 49%, #097fc9 50%, #097fc9 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2a8bd5), color-stop(49%, #2a8bd5), color-stop(50%, #097fc9), color-stop(100%, #097fc9));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #2a8bd5 0%, #2a8bd5 49%, #097fc9 50%, #097fc9 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #2a8bd5 0%, #2a8bd5 49%, #097fc9 50%, #097fc9 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #2a8bd5 0%, #2a8bd5 49%, #097fc9 50%, #097fc9 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #2a8bd5 0%, #2a8bd5 49%, #097fc9 50%, #097fc9 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$col1', endColorstr='$col2',GradientType=0 );
    /* IE6-9 */
    color: #e6e6e6;
    -webkit-box-shadow: inset 0 0 10px 0 #0762a6;
    box-shadow: inset 0 0 10px 0 #054575; }

.desktop-only,
img {
  display: none; }

thead {
  display: none; }

.mobile-only {
  display: block; }
  .mobile-only.head {
    display: table-cell;
    color: #8a827d;
    font-size: 0.8em;
    padding-bottom: 10px; }

header {
  background-color: #383838;
  width: 100%;
  padding: 50px 5%;
  text-align: center;
  position: relative; }
  header:before, header:after {
    content: " ";
    display: table; }
  header:after {
    clear: both; }
  header:after {
    -webkit-border-radius: 42px 42px 0 0;
    border-radius: 42px 42px 0 0;
    position: absolute;
    content: '';
    width: 64px;
    height: 28px;
    left: 50%;
    margin-left: -32px;
    bottom: 0;
    background: url(../img/arrow-down.png) bottom center no-repeat #f6f5f3; }
  header h1 {
    color: #fff;
    font-size: 1.9em; }
    header h1 span {
      display: block;
      margin-top: 10px;
      font-size: 0.7em;
      font-weight: normal; }

.wrapper {
  width: 90%;
  margin: 0 5%; }
  .wrapper:before, .wrapper:after {
    content: " ";
    display: table; }
  .wrapper:after {
    clear: both; }

.content {
  width: 90%;
  margin: 5%; }
  .content h2 {
    font-weight: lighter; }

table {
  width: 100%; }
  table tr {
    border-bottom: 2px solid #eeedeb; }
  table thead tr {
    background: #fbfbfa; }
    table thead tr th {
      text-align: left;
      font-weight: bold;
      color: #097fd7;
      font-size: 0.9em;
      padding: 0.7em; }
  table tbody tr {
    background: #fff;
    padding-top: 1em; }
    table tbody tr .title {
      color: #097fd7; }
    table tbody tr.spacer {
      background: none; }
      table tbody tr.spacer td {
        padding: 1em; }
    table tbody tr td {
      padding: 3em 0.7em 1em 0.7em;
      vertical-align: middle;
      word-break: break-all;
      font-size: 0.7em; }
      table tbody tr td:first-child {
        display: none; }
      table tbody tr td .title .absolute {
        margin-top: -2em; }

.paginator {
  display: table;
  margin: 0 auto;
  float: none;
  margin-top: 2em; }
  .paginator:before, .paginator:after {
    content: " ";
    display: table; }
  .paginator:after {
    clear: both; }
  .paginator a {
    background: #fff;
    padding: 0.7em 1em;
    font-weight: bold;
    margin: 0 0.5em 0.5em 0.5em;
    display: block;
    float: left; }
    .paginator a.active {
      background: none;
      color: #383838; }

/* ==|== media queries ====================================================== */
@media only screen and (min-width: 480px) {
  table tbody tr td {
    font-size: 1em; } }
@media only screen and (min-width: 1140px) {
  .desktop-only,
  img {
    display: block; }

  thead {
    display: table-header-group; }

  .mobile-only {
    display: none !important; }

  header {
    background: url(../img/header.jpg) no-repeat center center; }

  table tbody tr.row.odd {
    background: #fbfbfa; }
  table tbody tr.row.even {
    background: #fff; }
  table tbody tr.row td {
    padding: 0.7em; }
    table tbody tr.row td:first-child {
      display: table-cell;
      padding: 0; }
    table tbody tr.row td.progress {
      display: table-cell; }
      table tbody tr.row td.progress .bar {
        width: 100%;
        height: 1em;
        background: #dddddd; }
        table tbody tr.row td.progress .bar .fill {
          height: 100%;
          background: #78c738;
          width: 70%; } }
.ie9 .spacer {
  height: 1em; }
